<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Year</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for movie <- @movies do %>
  <%= render "_movie.html", movie: movie, conn: @conn %>
<% end %>
  </tbody>
</table>

<span><%= link "New Movie", to: Routes.movie_path(@conn, :new) %></span>
